/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap');
html{
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Source Sans Pro', sans-serif;
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}

a{
    color: #006fb6;   
    :visited{
        color: #006fb6;
    }
}
